<div class="row justify-content-center">
  <div class="col-2">
    <button mat-raised-button (click)="add = !add">Add config</button>
  </div>

  <div class="col-2">
    <button mat-raised-button (click)="node = !node">Add node</button>
  </div>
</div>
<ng-container *ngIf="!configs?.length; then loading; else data"> </ng-container>

<ng-template #loading>
  Loading....
</ng-template>
<ng-template #data>
  {{ configs | json }}
</ng-template>

<mat-card *ngIf="add" class="row justify-content-center">
  <form [formGroup]="configForm" (ngSubmit)="addConfig()" class="col-8">
    <div class="row justify-content-center">
      <mat-form-field class="col-8">
        <mat-select formControlName="nodeId" placeholder="Node ID">
          <mat-option *ngFor="let c of nodes" [value]="c.nodeId">{{
            c.nodeId
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-8">
        <mat-select formControlName="nodeType" placeholder="Node type">
          <mat-option [value]="type">{{ type | uppercase }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-8">
        <div class="row">
          <span class="col-2 align-middle">Interval: </span>
          <div class="col-6">
            <div class="row">
              <ngb-timepicker
                class="col-7"
                value
                formControlName="interval"
                [spinners]="false"
              ></ngb-timepicker>
              <span class="col-3">MM:SS</span>
            </div>
          </div>
          <div class="col-2">
            <button mat-raised-button type="submit">
              Confirm config
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-card>

<mat-card *ngIf="node" class="row justify-content-center">
  <form [formGroup]="nodeForm" (ngSubmit)="addNode()" class="col-8">
    <div class="row justify-content-center">
      <mat-form-field class="col-8">
        <input
          matInput
          placeholder="MAC address"
          type="text"
          formControlName="nodeId"
          [textMask]="textMask"
          autocomplete="off"
          class="example-right-align"
        />
        <mat-hint>xx:xx:xx:xx:xx:xx</mat-hint>
      </mat-form-field>
    </div>
    <div class="row justify-content-center">
      <mat-form-field class="col-8">
        <mat-select formControlName="nodeType" placeholder="Node type">
          <mat-option [value]="type">{{ type | uppercase }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <button mat-raised-button type="submit">
          Confirm node
        </button>
      </div>
    </div>
  </form>
</mat-card>
