<div class="row justify-content-start">
  <div class="col-2">
    <button mat-raised-button color="primary" [routerLink]="['../overview']">
      Back to overview
    </button>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-2">
    <button mat-raised-button (click)="add = !add">Add config</button>
  </div>

  <div class="col-2">
    <button mat-raised-button (click)="node = !node">Add node</button>
  </div>
</div>
<mat-card *ngIf="add" class="row justify-content-center mt-3">
  <form [formGroup]="configForm" (ngSubmit)="addConfig()" class="col-8">
    <div class="row justify-content-center">
      <mat-form-field class="col-8">
        <mat-select formControlName="nodeId" placeholder="Node ID">
          <mat-option *ngFor="let c of nodes" [value]="c.nodeId">{{
            c.nodeId
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-8">
        <mat-select formControlName="nodeType" placeholder="Node type">
          <mat-option [value]="type">{{ type | uppercase }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-8">
        <div class="row justify-content-between">
          <mat-form-field class="col-4">
            <input
              matInput
              placeholder="Interval"
              type="number"
              [min]="1"
              formControlName="interval"
              class="example-right-align"
            />
            <span matSuffix>seconds</span>
          </mat-form-field>
          <div class="col-4">
            <div class="row">
              <button
                class="col align-self-center"
                mat-raised-button
                type="submit"
              >
                Confirm config
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-card>

<mat-card *ngIf="node" class="row justify-content-center mt-3">
  <form [formGroup]="nodeForm" (ngSubmit)="addNode()" class="col-8">
    <div class="row justify-content-center">
      <mat-form-field class="col-8">
        <input
          matInput
          placeholder="MAC address"
          type="text"
          formControlName="nodeId"
          [textMask]="textMask"
          autocomplete="off"
          class="example-right-align"
        />
        <mat-hint>xx:xx:xx:xx:xx:xx</mat-hint>
      </mat-form-field>
    </div>
    <div class="row justify-content-center">
      <mat-form-field class="col-8">
        <mat-select formControlName="nodeType" placeholder="Node type">
          <mat-option [value]="type">{{ type | uppercase }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <button mat-raised-button type="submit">
          Confirm node
        </button>
      </div>
    </div>
  </form>
</mat-card>

<ng-container *ngIf="!configs?.length; then loading; else data"> </ng-container>

<ng-template #loading>
  Loading....
</ng-template>
<ng-template #data>
  <section class="row justify-content-center mt-3">
    <table
      mat-table
      [dataSource]="configs"
      multiTemplateDataRows
      class="mat-elevation-z8 col-8"
    >
      <ng-container matColumnDef="nodeId">
        <th mat-header-cell *matHeaderCellDef>Node ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nodeId }}
        </td>
      </ng-container>
      <ng-container matColumnDef="nodeType">
        <th mat-header-cell *matHeaderCellDef class="text-center">Node type</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.nodeType | uppercase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="interval">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          Inteval (in seconds)
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.interval }}
        </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          Created at
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.createdAt | date }}
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="example-element-detail mt-2 mb2"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <ng-container
              *ngIf="
                expandedElementHistory?.data?.length;
                then history;
                else noHistory
              "
            ></ng-container>
            <ng-template #history>
              <div class="row">
                <div class="mat-elevation-z8 col">
                  <table
                    id="history-table"
                    mat-table
                    [dataSource]="expandedElementHistory"
                  >
                    <!-- Position Column -->
                    <ng-container matColumnDef="nodeId">
                      <th mat-header-cell *matHeaderCellDef>
                        Node ID
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.nodeId }}
                      </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nodeType">
                      <th mat-header-cell *matHeaderCellDef class="text-center">
                        Node type
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        class="text-center"
                      >
                        {{ element.nodeType | uppercase }}
                      </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="interval">
                      <th mat-header-cell *matHeaderCellDef class="text-center">
                        Interval
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        class="text-center"
                      >
                        {{ element.interval }}
                      </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="createdAt">
                      <th mat-header-cell *matHeaderCellDef class="text-center">
                        Created at
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        class="text-center"
                      >
                        {{ element.createdAt | date }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef class="text-center">
                        Actions
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        class="text-center"
                      >
                        <i
                          class="material-icons"
                          (click)="useConfig(element.id)"
                        >
                          launch
                        </i>
                      </td>
                    </ng-container>

                    <tr
                      mat-header-row
                      *matHeaderRowDef="[
                        'nodeId',
                        'nodeType',
                        'interval',
                        'createdAt',
                        'actions'
                      ]"
                    ></tr>
                    <tr
                      mat-row
                      *matRowDef="
                        let row;
                        columns: [
                          'nodeId',
                          'nodeType',
                          'interval',
                          'createdAt',
                          'actions'
                        ]
                      "
                    ></tr>
                  </table>
                </div>
              </div>
            </ng-template>
            <ng-template #noHistory>
              <ng-container *ngIf="!expandedElementHistory?.data?.length">
                <div class="row justify-content-center text-center mb-2 mt-2">
                  <div *ngIf="showHistorySpinner; else empty" class="col-2">
                    <mat-progress-spinner
                      class="example-margin"
                      color="primary"
                      mode="indeterminate"
                    >
                    </mat-progress-spinner>
                  </div>
                  <ng-template #empty>
                    <div class="row justify-content-center mt-2 mb-2">
                      This element has only one configuration created yet.
                    </div>
                  </ng-template>
                </div>
              </ng-container>
            </ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="
          expandedElement = expandedElement === element ? null : element;
          expandedElementChange()
        "
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </section>
</ng-template>
